
#container 
	margin: 0 auto
	max-width: 960px
	//background: white

page-hintergrund
   width: 100%
   height: 100%
   background-color: #cbc4b2
   background-image: url(../img/starter-kit-cover.jpg) 

#header 
  width: 100%
  overflow: hidden
  padding: 21px 0 15px
  margin-bottom: 30px
  border-bottom: 1px solid #cbc4b2
  position: relative
  
.logo  
  width: 219px
  height: 94px  
  margin-top: 30px
  background-image: url(../img/Logo.jpg)
  background-repeat: no-repeat
  text-indent: -9999px
  overflow:hidden
  display: inline-block
  float:left
  
#nav
  width: 60%  
  margin: 81px -20px 00
  float: right
  font: 16px/18px 'CenturyGothicRegular', Arial, Helvetica, sans-serif
  text-transform: uppercase
  letter-spacing: -1px
  li
    float: left
    padding: 0 20px 0 0
  a
    text-decoration: none
    &:hover
      color: #fff
  .active a
    color: #fff

#lang
  position: absolute
  right: -10px
  top: 130px
  font: 14px/18px 'CenturyGothicRegular', Arial, Helvetica, sans-serif  
    
#main
  width: 1000px
  margin: 0 auto

h1
  color: #FFF
  font-size: 36px
  font-family: Georgia, serif
  text-shadow: 1px 1px 0px #fff
  text-align: center

h2
  color: #FFF
  font-size: 10px
  font-family: "Helvetica Neue", Helvetica, sans-serif
  font-weight: normal
  text-align: center
  letter-spacing: 6px

#content
  margin: 15px auto 0
  text-align: center

.foto-wrap
  position: relative
  width: 400px
  margin: 0 auto
  img
    position: absolute
    top: 0px
    left: 0px
    width: auto
    float: inherit
  span
    position: absolute
    top: -10px
    left: -10px
    width: auto
    float: inherit