
*
  padding: 0
  margin: 0

#portfolio-wrapper
  width: 100%
  height: auto 
  margin: 15px 0px
  background-color: #796b5f

#portfolio-content  
  display: flex     
  color: #FFFFFF
  margin: 15px 0 16px  
  padding: 50px 0
  p
  font-size: 90%
  color: #FFFFFF
  h1
    font-size: 120%
    color: #FFFFFF
  h2
    font-size: 110%
    color: #FFFFFF

#textbereich
  color: #FFFFFF
  background-color: #706156 
  padding: 10px 0 5px 10px
    
#foto    
  width: 420px
  height: 149px
  img
    width: 420px
    height: 149px
    display: block 
          
// navigation unten  
address
  text-align: center
  font-size: 80%
  font-style: normal
  letter-spacing: 2px
  line-height: 1,5em

.skiplink
  position: absolute
  top: -2000px
  left: -3000px
  width: 0px
  height: 0px
  overflow: hidden
  display: inline

#textbereich a
  border-bottom: 1px dotted #cc0000
  &:hover, &:focus
    border-bottom: 1px solid #d90000

h1,h2, p, ul, ol
  margin-bottom: 1em

ul ul
  margin-bottom: 0

li
  font-size: 90%
  margin-left: 1em

@media (max-width: 600px)

  #portfolio-content
    max-width: 100%
    width: 100%
    flex-direction: column
    margin: 0px
    background-color: #716150

    #textbereich
      max-width: 100%
      width: 90vw
      order: 1
          
    #foto
      max-width: 100vw
      width: 100vw      
      text-align: center
      align-items: stretch
      order: 2
      display: inline-block
      img
        width: 100%
        display: inline-block