<!DOCTYPE html>
html(lang="en")
head
  title DevTips Starter Kit
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body    
  .page-home
    section   
      .header  
        .logo   
        .navbar
          a(href='index.htm') Index
          a(href='#work') Work
          a(href='portfolio.html') Portfolio
          a(href='#contact') Contact           
      .content
       <!-- h1| Holz Art-->
      .footer-header 
        p 2019 @ Copyright Thomas Lanza All rights reserved
  section
    .page-artmax
      h3 artmax - Design&Handwerk
      .article-vertikal
        p Vom Entwurf zum fertigen Produkt,<br><br>
          |alles aus einer Hand, um die Arbeiten so optimal wie möglich realisieren zu können. Es braucht neben Kreativität viel handwerkliches Können und das Fachwissen über die neuesten Materialien. <br><br>
          |Die „dritte Dimension“,  lebt von Licht und Schatten und einem Hauch Exklusivität. Dreidimensionale Schilder sind weithin sichtbar, heben sich von der Massenwerbung positiv ab und erreichen dabei einen höheren Werbewert.<br><br>
          |Computergesteuerten fertige ich aus modernen Materialien, nach meinen Ideen oder Vorgaben meiner Kunden. Ob für Geschäftsportale, Messestände, Ausstellungen,  Produktpräsentationen oder für Ihr persönliches Hausnummernschild.
          <br><br>
          |Für jede Aufgabe gibt es die optimale Lösung.
      .article-vertikal    
        .image       
  .navigation   
    button  
      |HOLZ art
    button
      |Buchstaben
    button
      |Hausnummernschild  
    button
      |Awards & Ehrentafeln
  section
    article
      h3 Buchstaben / Schilder / Logos
      .article-horizontal        
        p Mit dem Einsatz moderner CNC-Technologie und aktuellen Materialien, fertige ich mit größter Präzision Schriften und Schilder nach Vorgaben der Kunden.
          |Für Fassadenbeschriftungen haben sich Körperbuchstaben aus FOREX Hartschaum bewährt. Sie sind leicht, stabil, wetterfest und einfach zu montieren. Zum Veredeln können sie lackiert, mit Acrylglas oder eloxiertem Aluminium kombiniert werden. Sehr aktuell sind die neuen Alubond-Verbundmaterialien. 
          |Gebürstetes Aluminium oder Aluspiegel sind in 3, und 4 mm Material 
          |am Markt. Plexiglas ist nach wir vor das Topmaterial im Außenbereich, 
          |wetterfest und nach Jahren noch intensiv in der Farbe.
          |Buchstaben aus Messing lassen sich galvanisch verchromen, oder vergolden     
      .gallery           
        img.picture(src='../assets/img/woodtype.jpg')
        img.picture(src='../assets/img/woodtype.jpg')
        img.picture(src='../assets/img/woodtype.jpg')
        img.picture(src='../assets/img/woodtype.jpg')  
  section
    article
      h3 Hausnummernschilder    
      .article-horizontal               
        p ...........die Visitenkarte Ihres Hauses.
        <br>
          |Als Kunsthandwerker fertige ich nach Kundenwunsch, individuelle Hausschilder in unterschiedlichsten Ausführungen. Zum Haus passend entworfen, werden Zeichnungen in den PC importiert und auf einer CNC Anlage gefräst.  Je nach Material werden die Hausnummern veredelt, händisch geschliffen, poliert, gebeizt, lackiert oder auf Wunsch auch vergoldet. Mit unterschiedlichen Materialkombinationen treffe ich die zum Haus passende Lösung. 
          |Die Hausnummern können aus unterschiedlichen Materialien gefertigt werden: Z.B.: aus Edelhölzern, geölt, coloriert oder vergoldet, aus eloxiertem Aluminium, aus Messing zaponiert, verchromt oder vergoldet, oder aus Acrylglas in den verschiedensten Farben, aus satiniertem Plexiglas, oder aus Corian. Materialkombinationen ergeben oft eine besonders originelle Lösung.     
      .gallery   
          img.picture(src='../assets/img/woodtype.jpg')
          img.picture(src='../assets/img/woodtype.jpg')    
          img.picture(src='../assets/img/woodtype.jpg') 
          img.picture(src='../assets/img/woodtype.jpg') 
  section
    article
      h3 Trophäen / Awards & Ehrentafeln
      .article-horizontal        
        p Hier sind Ideen gefragt.
        <br>
          |Plexiglas transparent oder farbig, in Kombination mit Chrom oder vergoldetem Messing, Kunststein in Verbindung mit elox. Aluminium, oder Edelholz geölt, gebeizt oder vergoldet..........
          <br><br>  
            |Es gibt tausend und eine Möglichkeit.
        .gallery
          img.picture(src='../assets/img/woodtype.jpg')
          img.picture(src='../assets/img/woodtype.jpg')    
          img.picture(src='../assets/img/woodtype.jpg') 
          img.picture(src='../assets/img/woodtype.jpg')     
  .contact
    p Das ist ein Test
    .contact-box
      <input type="name" name="name" placeholder="Your Name">
      <input type="email" name="email" placeholder="Your email">
      <textarea name="message" placeholder="Test Message"></textarea>
      <button type="submit">Send Test</button>
      </form>
  script(src='./vendors/jquery/dist/jquery.min.js')
  script(src='./assets/js/app.js') 