<!DOCTYPE html>
html(lang="en")
head
  title DevTips Starter Kit
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body
  section   
    .header  
      .logo   
      .navbar
        a(href='index.html') Index
        a(href='#work') Work
        a(href='portfolio.html') Portfolio
        a(href='#contact') Contact  
    #portfolio-wrapper  
      #portfolio-content
        #foto
          img(src='../assets/img/slider/img1.jpg' alt='Italian Trulli') 
          img(src='../assets/img/slider/img2.jpg' alt='Italian Trulli') 
          img(src='../assets/img/slider/img3.jpg' alt='Italian Trulli') 
        // Ende foto
        #textbereich
          h2  Sartseite
          p  Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
          h2 Lorem ipsum 
          ul
            li  so funktioniert HTML 
            li  Wichtige HTML- Element 
            li  Gestalten mit CSS 
          ul
            li  so funktioniert HTML 
            li  Wichtige HTML- Element 
            li  Gestalten mit CSS  
          h1 Lorem ipsum
          p
            | F&uuml;r Designer, Schriftsetzer, Layouter, Grafikenthusiasten und alle anderen.
            | in Projekt startet und doch es gibt noch keinen Text, allerdings sollte das Layout schon bald pr&auml;sentiert werden ... was tun?
            | Damit das Projekt gleich starten kann benutze einfach etwas Lorem ipsum - Blind-, F&uuml;ll-, Dummy-, Nachahmungs-, Platzhaltertext.Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
            | Generiere einfach soviel Lorem Ipsum Text orem Ipsum Text Lorem ipsum wie du brauchst, kopiere und f&uuml;ge ihn in dein Layout als vor&uuml;bergehenden Platzhalter ein. Somit sieht das Projekt ein St&uuml;ckchen vollst&auml;ndiger aus als zuvor.
          p Viel Spa&szlig; dabei.
    .footer
      p 2019 @ Copyright Thomas Lanza All rights reserved
    section      
    script(src='./vendors/jquery/dist/jquery.min.js')
    script(src='./assets/js/app.js')
