html(lang='en')
  head  
    title DevTips Starter Kit
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', href='./assets/img/favicons/favicon.ico')
    link(rel='stylesheet', href='assets/css/main.css')
  body
  #wrapper
    #kopfbereich
      .skiplink
        a(href='#textbereich') Zum Inhalt
      #logo
        img(src='../image/logo.jpg' width='233' height='95' alt='kein')
      #navibereich
        ul
          li#navi01
            a(href='../index.html') Startseite Test 1
          li#navi02
            a(href='../Kontakt/untitled 1b2.html') Kontakt
      // Ende navibereich
    // Ende kopfbereich
    #content-portfolio
      #foto
        img(src='../image/slider/img1.jpg' width='421' height='150' alt='kein')
        img(src='../image/slider/img2.jpg' width='421' height='150' alt='kein')
        img(src='../image/slider/img3.jpg' width='421' height='150' alt='kein')
      // Ende foto
      #textbereich
        h2  Sartseite 
        p  Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
        h2 Lorem ipsum 
        ul
          li  so funktioniert HTML 
          li  Wichtige HTML- Element 
          li  Gestalten mit CSS 
        ul
          li  so funktioniert HTML 
          li  Wichtige HTML- Element 
          li  Gestalten mit CSS  
        h1 Lorem ipsum
        p
          | F&uuml;r Designer, Schriftsetzer, Layouter, Grafikenthusiasten und alle anderen.
          | in Projekt startet und doch es gibt noch keinen Text, allerdings sollte das Layout schon bald pr&auml;sentiert werden ... was tun?
          | Damit das Projekt gleich starten kann benutze einfach etwas Lorem ipsum - Blind-, F&uuml;ll-, Dummy-, Nachahmungs-, Platzhaltertext.Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
          | Generiere einfach soviel Lorem Ipsum Text orem Ipsum Text Lorem ipsum wie du brauchst, kopiere und f&uuml;ge ihn in dein Layout als vor&uuml;bergehenden Platzhalter ein. Somit sieht das Projekt ein St&uuml;ckchen vollst&auml;ndiger aus als zuvor.
        p Viel Spa&szlig; dabei.
      // Ende textbereich
    // Ende content
    footer
      p Das ist ein Test
      p
