.page-contact
  height: 450px  
  background: $white
  position: relative
  padding: 25px 
  color: #ebebeb
  background:
    image: url(../img/background_contact.jpg)
    repeat: none
    size: Contain
    
  h3
    color: $black
    margin-left: 45px

#contact-wrapper
  display: grid
  justify-content: center
  
input
  border: 1.3px solid $lighgreen
  width: 270px
  padding: 10px
  font-size: 18px  
  background: $white
  color: #e33939
  margin-bottom: 10px
  outline: none
  
textarea
  border: 1.3px solid $lighgreen
  width: 270px
  padding: 10px
  font-size: 18px
  //font-family: "knul"
  background: $white
  color: #e33939
  margin-bottom: 10px
  outline: none
  width: 390px
  height: 170px
  margin-bottom: 1px

input[type="submit"]
  width: 110px
  cursor: pointer
  margin: 0
  background-color: $lighgreen

  &:hover
    background: $darkgreen
    color: $black

\::-webkit-input-placeholder, :-moz-placeholder
  color: #e33939

#contact-wrapper div
  position: relative

.name-wrap, .email-wrap
  width: 290px

.message-wrap
  width: 410px

label.error
  display: block
  position: absolute
  top: 15px
  right: 10px
  font-size: 12px
  margin: 0
  color: #666

.php-error span, .php-success span
  background: #666
  color: #fff
  padding: 3px 4px

  
  